<ul class="overview projects">
  <% @projects.each do |project| %>
  <% active_members = project.members.select do |m|
    membership = m.memberships.where(project_id: project.id).first
    hasLeft = membership.left_at <= Date.current.next_month.beginning_of_month
    m.activated && !hasLeft
  end %>
  <% member_names = active_members.map { |m| m.name }.join(', ') %>
  <li>
    <h3><%= project.name %></h3>
    <% unless project.info.nil? %>
    <p>
      <% project.info.split("\n").each do |line| %>
        <% line.split("*").each_with_index do |segment, i| %>
          <% if i.even? %>
            <%= "#{segment}" %>
          <% else %>
            <b><%= "#{segment}" %></b>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </p>
    <% end %> 

    <%= link_to "Open #{project.name}", project, class: "btn-primary inverted" %>
    <% if is_admin_for_project? project %>
      <% unless project.invoices_sent_at.nil? %>
        <p>Invoices was last sent <b><%= time_ago_in_words(project.invoices_sent_at) %> ago</b>. <br><i>(<%= project.invoices_sent_at.to_date %>)</i></p>
      <% end %>

      <% if project.invoices_sent_at > 3.days.ago %>
      <%= link_to "Send invoice reminders",
        "/projects/#{project.id}/send_invoices?is_reminder=true",
        method: :post,
        remote: true,
        id: "send_invoices_#{project.id}",
        class: "btn-primary inverted",
        data: {
          disable_with: "Sending...",
          confirm: "This will send invoice emails to the following #{active_members.count} #{'member'.pluralize(active_members.count)}:\n\n#{member_names}"} %>
      <% else %>
      <%= link_to "Send invoices",
        "/projects/#{project.id}/send_invoices?is_reminder=false",
        method: :post,
        remote: true,
        id: "send_invoices_#{project.id}",
        class: "btn-primary inverted",
        data: {
          disable_with: "Sending...",
          confirm: "This will send invoice emails to the following #{active_members.count} #{'member'.pluralize(active_members.count)}:\n\n#{member_names}"} %>
      <% end %>

      <%= link_to "Delete", project, method: :delete,
                                  data: { confirm: "Are you sure? This will delete '#{project.name}' and all data will be lost." }, class: "btn-primary inverted" %>
      <p><b>Start date:</b> <%= project.start_date %><br>
      <% unless project.end_date.nil? %>
        <b>End date:</b> (last rent is due) <%= project.end_date %>, you will still have access until the end of <%= Date::MONTHNAMES[project.end_date.next_month.month] %> <%= project.end_date.next_month.year %>.<br>
      <% end %>
      <b>Monthly rent:</b> <%= number_with_precision(project.rents.last.amount, precision: 2) %> SEK</p>
    <% end %>
    <hr style="margin-top:2em;">
    <h3>Members</h3>
    <ul class="overview members centered">
    <% project.members.each do |member| %>
      <li>
      <% if active_members.include?(member) %>
      <%= link_to "#{member.name}", member %>
      <% else %>
      <%= "#{member.name}" %> <i>(not a member anymore)</i>
      <% end %>
      </li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>
