<header>
  <h1><%= link_to "RentSplitter", root_path %></h1>
  <h2><%= yield :page_title %></h2>
<% if current_member %>
  <p>Logged in as <b><%= current_member.name %></b></p>
  <nav>
    <ul>
        <li><%= link_to "Home", root_path %></li>
      <% if current_member.projects.count > 1 %>
        <li><%= link_to "Projects", projects_path %></li>
      <% end %>
      <% if project_admin? %>
        <li><%= link_to "Invite New Member", invite_path %></li>
        <li><%= link_to "Add money transfer", new_transfer_path %></li>
        <li><%= link_to "Edit Members", members_path %></li>
      <% end %>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>
  </nav>
  <hr>
<% end %>
</header>