<!DOCTYPE html>
<html>
  <head>
    <title>Rentsplitter</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="apple-touch-icon" href="img/custom_icon.png"> -->  
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Lobster|Quicksand:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-container">
      <%= render 'layouts/header' %>
      <div class="content">
        <% # react_component 'ErrorDisplay', errors: flash %>
        <%= yield %>
      </div>
      <footer>&copy; copyright Johannes Borgström 2017</footer>
    </div>
  </body>
</html>
