<h1>Choose a new password for your account</h1>
<%= form_for(@member, url: member_path(@member)) do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit "Choose password", class: "btn btn-primary" %>
<% end %>