<% provide :page_title, "List all members" %>
<section>
  <article>
    <ul>
    <% @members.each do |member| %>
      <li class="memberInfo">
        <%= form_for member do |f| %>
          <%= f.hidden_field :edited_by, value: "admin" %>
          <h3><%= member.name %><span><%= member.email %></span></h3>
          <% if member.id == current_member.id %>
            <p><b><i>PROJECT ADMIN</i></b></p>
          <% end %>
          <p>
            <%= f.label :pattern, "Regex pattern" %>
            <%= f.text_field :pattern %><%= f.submit "Update" %><br>
          </p>
        <% end %>

        <% if member.invited? %>
          <% if member.activated? %>
            <span class="green"><p>Member account is active and confirmed</p></span>
          <% else %>
            <span class="red"><p>Member has <b>not activated</b> account. Invitation was sent <%= time_ago_in_words(member.updated_at, include_seconds: true) %> ago</p></span>
            <%= button_to 'Send invite again', invitations_path, class: "btn-primary", method: :post, params: { member: member, project_id: @project.id } unless member.updated_at > 24.hours.ago %>
          <% end %>
        <% else %>
        <%= button_to 'Send invite', invitations_path, class: "btn-primary", method: :post, params: { member: member, project_id: @project.id } %>
        <% end %>
        <% if member.id != current_member.id %>
        <div class="paddedLeftRight"><%= link_to "Remove from project", member.memberships.where(project_id: @project.id).first, class: "btn-primary initial-width red",
          method: :delete,
          data: {
            confirm: "This will remove #{member.name} from #{@project.name}. WARNING: All member's transactions will be deleted as well. This will affect every member's debt.\nIf the member only has left the project, set end date instead."
          }
          %></div>
        <br>
        <% link_to "Delete", member,
          method: :delete,
          data: {
            confirm: "Are you absolutely positive you want to delete #{member.name}? This action can not be undone."
          } %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </article>
</section>
