<h1>Invite new member</h1>
<% random_password = Member.new_token %>
<%= form_for(@member, url: members_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :project_name, "Create new project" %>
  <%= text_field_tag :project_name, '', class: 'form-control' %>

  <% unless @projects.empty? %>
    <%= f.label :project_id, "or select an existing project" %>
    <%= select_tag(:project_id, options_for_select(@projects.map { |p| [p.name, p.id] })) %>
  <% end %>

  <%= f.label :joined_at_m, "First month to pay rent for" %>
  <%= select_tag(:joined_at_m, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]}, Date.current.month)) %>
  <%= number_field_tag :joined_at_y, Date.current.year, min: 2000, max: 2100, step: 1 %>

  <%= f.label :left_at_m, "Last month to pay rent for" %>
  <%= select_tag(:left_at_m, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]})) %>
  <%= number_field_tag :left_at_y, 20.years.from_now.year, min: 2000, max: 2100, step: 1 %>

  <%= f.label :password %>
  <%= f.password_field :password, value: random_password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation, value: random_password, class: 'form-control' %>

  <%= f.submit "Invite member", class: "btn btn-primary" %>
<% end %>