<h1>Invite new member</h1>
<style type="text/css" media="screen">
 .visible {
  background-color: #aff;
 }
 .invisible {
  background-color: #faa;
 }
</style>
<% random_password = Member.new_token %>
<%= react_component 'Form', 
authenticity_token: form_authenticity_token, 
action: members_path,
fields: [
  {
    fieldType: "text",
    attribute: "member[name]",
    attributeName: "Name",
  },
  {
    fieldType: "email",
    attribute: "member[email]",
    attributeName: "Email",
  },
  {
    fieldType: "p",
    text: "Assign new member to a Project"
  },
  {
    fieldType: "radio",
    attribute: "new_or_existing",
    attributeName: "Create new Project",
    defaultValue: "new",
  },
  {
    fieldType: "radio",
    attribute: "new_or_existing",
    attributeName: "Choose existing Project",
    defaultValue: "existing",
  },
  {
    fieldType: "text",
    attribute: "project[name]",
    attributeName: "New Project name",
    isVisibleIfChecked: "new_or_existing#new",
  },
  {
    fieldType: "text",
    attribute: "project[start_date]",
    attributeName: "Project start date",
    defaultValue: Date.current.beginning_of_month.next_month.to_s,
    isVisibleIfChecked: "new_or_existing#new",
  },
  {
    fieldType: "number",
    attribute: "monthly_rent",
    attributeName: "Monthly rent",
    defaultValue: 0,
    isVisibleIfChecked: "new_or_existing#new",
  },
  # {
  #   fieldType: "select",
  #   attribute: "member_id",
  #   attributeName: "Which member made the transfer",
  #   options: [], #@members.map {|m| [m.id, m.name]},
  #   isControlling: "project_id", # Get member's projects when member is selected
  # },
  {
    fieldType: "select",
    attribute: "project_id",
    attributeName: "Select an existing Project",
    isVisibleIfChecked: "new_or_existing#existing",
    defaultValue: 0,
    options: @projects.map { |p| [p.id, p.name] }.unshift([0, "Choose Project"]),
  },
  {
    fieldType: "select",
    attribute: "joined_at_m",
    attributeName: "First month to pay rent for",
    options: (1..12).map {|m| [m, Date::MONTHNAMES[m]]},
    defaultValue: Date.current.month
  },
  {
    fieldType: "number",
    attribute: "joined_at_y",
    attributeName: "Year",
    defaultValue: Date.current.year
  },
  {
    fieldType: "select",
    attribute: "left_at_m",
    attributeName: "Last month to pay rent for",
    options: (1..12).map {|m| [m, Date::MONTHNAMES[m]]},
    defaultValue: Date.current.month
  },
  {
    fieldType: "number",
    attribute: "left_at_y",
    attributeName: "Year",
    defaultValue: 20.years.from_now.year
  },
  {
    fieldType: "p",
    text: "Auto generated password. The member will be prompted to change this when logging in for the first time."
  },
  {
    fieldType: "password",
    attribute: "member[password]",
    attributeName: "Password",
    defaultValue: random_password
  },
  {
    fieldType: "password",
    attribute: "member[password_confirmation]",
    attributeName: "Confirm password",
    defaultValue: random_password
  },
  {
    fieldType: "submit",
    attributeName: "Invite new Member"
  }
] %>
<!--
<%= form_for(@member, url: members_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :new_or_existing, "Assign new Member to a Project" %>

  <div class="<%= @projects.empty? ? 'invisible' : 'visible' %>">
    <%= f.label :new_or_existing_new, "Create new Project" %>
    <%= radio_button_tag(:new_or_existing, "new") %>
    <%= f.label :new_or_existing_existing, "Choose existing Project" %>
    <%= radio_button_tag(:new_or_existing, "existing") %>
  </div>

  <%= f.label :project_name, "New Project name" %>
  <%= text_field_tag :project_name, '', class: 'form-control' %>

  <div class="<%= @projects.empty? ? 'invisible' : 'visible' %>">
    <%= f.label :project_id, "or select an existing project" %>
    <%= select_tag(:project_id, options_for_select(@projects.map { |p| [p.name, p.id] }.unshift(["Choose Project", 0]))) %>
  </div>

  <%= f.label :joined_at_m, "First month to pay rent for" %>
  <%= select_tag(:joined_at_m, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]}, Date.current.month)) %>
  <%= number_field_tag :joined_at_y, Date.current.year, min: 2000, max: 2100, step: 1 %>

  <%= f.label :left_at_m, "Last month to pay rent for" %>
  <%= select_tag(:left_at_m, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]})) %>
  <%= number_field_tag :left_at_y, 20.years.from_now.year, min: 2000, max: 2100, step: 1 %>

  <%= f.label :password %>
  <%= f.password_field :password, value: random_password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation, value: random_password, class: 'form-control' %>

  <%= f.submit "Invite member", class: "btn btn-primary" %>
<% end %>
-->